VITE_SUPABASE_URL=https://muaikvhnwqqlugviilmg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11YWlrdmhud3FxbHVndmlpbG1nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwNTU1MDYsImV4cCI6MjA5OTYzMTUwNn0.ojZj1V2vLOc70ph52HLhNPXSrRdddrp-RK5dyjP1RyA
